// Put your custom SCSS code here
.navbar-brand svg {
  width: 70px;
  height: 100%;
  margin-right: 0;
}

@include media-breakpoint-up(lg) {
  .navbar-brand {
    margin-right: 0 !important;
  }

  .navbar-brand svg {
    width: 80px;
    height: 100%;
  }
}

.vr {
  height: 2rem;
  align-self: center;
}

.section-hero {
  margin-top: 1.5rem;
  padding-bottom: 0;
}

@include media-breakpoint-up(lg) {
  .section-hero {
    margin-top: 0.5rem;
  }
}

.section-credits {
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;
}

@include media-breakpoint-up(lg) {
  .section-credits {
    padding-top: 4.5rem;
    margin-bottom: 4.5rem;
  }
}

.home .footer {
  @include visually-hidden;
}

.btn-toggle {
  text-transform: none;
}

.docs-links h3,
.docs-links .h3,
.page-links h3,
.page-links .h3 {
  text-transform: none;
}

.section-cards {
  .card {
    margin: 0;
    padding: 1rem;
    height: 100%;
  }

  .card-title {
    margin-top: 0;
  }
}

@include media-breakpoint-up(lg) {
  .section-cards .col-lg-7:nth-child(2n) .card {
    margin-top: 3rem;
    margin-bottom: -3rem;
  }
}

// Add to Doks

/*
.callout pre {
  margin: 1rem 0;
}

.container-fw {
  max-width: auto;
}

.docs-sidebar {
  min-width: 18.75rem;
  max-width: 18.75rem;
  width: 18.75rem;
}

.docs-toc {
  min-width: 13.75rem;
}

@include media-breakpoint-up(lg) {
  .container-fw {
    max-width: 675px;
  }
}

@include media-breakpoint-up(xl) {
  .container-fw {
    max-width: 875px;
    
    .docs-content {
      width: 575px;
    }

    .docs-toc {
      margin-left: 3rem;
    }
  }
}

@include media-breakpoint-up(xxl) {
  .container-fw {
    max-width: 1075px;

    .docs-content {
      width: 675px;
    }
  }
}

figcaption {
  font-size: 1rem;
  margin-top: 0.5rem;
  font-style: italic;
}
*/

// DocSearch

.DocSearch-Container {
  z-index: 2000 !important;
}

.DocSearch-Hit-icon {
  display: flex;
  align-items: center;
}

.DocSearch-Hits mark {
  padding: 0;
}

@media (max-width:768px) {
  .DocSearch-Modal {
    position: fixed !important;
  }
}

.content dl dt {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.content dl dd {
  margin-bottom: 1rem;
  margin-left: 1rem;
}
