// Put your custom (S)CSS variables here

// Import Norrsken theme variables
@import "norrsken";

// Light mode
$primary: $light-contrast;

// Dark mode
$link-color-dark: $contrast;
$button-color-dark: $contrast;
$contrast-1: #c1c3c8;

:root,
::backdrop {
  --sl-color-accent-high: $contrast;
}

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-responsive-font-sizes: true;

// Prefix for :root CSS variables

$variable-prefix: bs-;

// Body
//
// Settings for the `<body>` element.

$body-color: $light-contrast;
$body-bg: $light-base;

// Links
//
// Style anchor elements.

$link-color: $light-contrast;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:
    "Geist Variable",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    "Liberation Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
$font-family-monospace:
    "Geist Mono Variable", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// stylelint-enable value-keyword-case
$font-family-base: var(--#{$variable-prefix}font-sans-serif);
$font-family-code: var(--#{$variable-prefix}font-monospace);
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-xl: $font-size-base * 1.375;
$font-size-lg: $font-size-base * 1.25;
$font-size-md: $font-size-base * 1.125;
$font-size-sm: $font-size-base * 0.875;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-base: $font-weight-light;
$line-height-base: 1.75;
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: $font-weight-normal;
$headings-line-height: 1.25;

/*
$h1-font-size: clamp(2.25rem, 5vw, 3rem);
$h2-font-size: clamp(1.875rem, 4vw, 2.5rem);
$h3-font-size: clamp(1.5rem, 3.5vw, 2rem);
$h4-font-size: clamp(1.313rem, 3vw, 1.5rem);
$h5-font-size: $font-size-base * 1.125;
$h6-font-size: $font-size-base;
*/

$h1-font-size: $font-size-base * 3; // 2.5 (default)
$h2-font-size: $font-size-base * 2; // 2 (default)
$h3-font-size: $font-size-base * 1.75; // 1.75 (default)
$h4-font-size: $font-size-base * 1.5; // 1.5 (default)
$h5-font-size: $font-size-base * 1.25; // 1.25 (default)
$h6-font-size: $font-size-base;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-transitions: false;
$enable-dark-mode: true;
$enable-negative-margins: true;
