// Put your custom (S)CSS variables here

// Dark mode color palette
$base: #111;
$base-2: #222;
$contrast: #fff;
$contrast-2: #7f8080;
$contrast-3: #636464;
$contrast-4: #333;

// Light mode color palette
$light-base: #fff;
$light-base-2: #f1f1f1;
$light-contrast: #111;
$light-contrast-2: #666;
$light-contrast-3: #767676;
$light-contrast-4: #ddd;

// Dark mode gradients
$aurora-horizontal: linear-gradient(
    90deg,
    #6ce54b 10.61%,
    #6be795 30.26%,
    #367ccf 50.61%,
    #a746f6 69.74%,
    #8117bd 90.78%
);
$aurora-horizontal-fade: linear-gradient(
    90deg,
    rgba(108, 229, 75, 0) 10.61%,
    #6be795 30.26%,
    #367ccf 50.61%,
    #a746f6 69.74%,
    rgba(129, 23, 189, 0) 90.78%
);
$aurora-vertical: linear-gradient(
    180deg,
    #6ce54b 10.61%,
    #6be795 30.26%,
    #367ccf 50.61%,
    #a746f6 69.74%,
    #8117bd 90.78%
);
$aurora-vertical-fade: linear-gradient(
    180deg,
    rgba(108, 229, 75, 0) 10.61%,
    #6be795 30.26%,
    #367ccf 50.61%,
    #a746f6 69.74%,
    rgba(129, 23, 189, 0) 90.78%
);
$aurora-down-right: linear-gradient(
    135deg,
    #6ce54b 10.61%,
    #6be795 30.26%,
    #367ccf 50.61%,
    #a746f6 69.74%,
    #8117bd 90.78%
);
$base-alt-fade-mid-down-right: linear-gradient(
    135deg,
    $base 0%,
    rgba(34, 34, 34, 0.994) 5.89%,
    rgba(34, 34, 34, 0.976) 10.69%,
    rgba(34, 34, 34, 0.947) 14.56%,
    rgba(34, 34, 34, 0.91) 17.67%,
    rgba(34, 34, 34, 0.864) 20.19%,
    rgba(34, 34, 34, 0.812) 22.28%,
    rgba(34, 34, 34, 0.754) 24.12%,
    rgba(34, 34, 34, 0.692) 25.88%,
    rgba(34, 34, 34, 0.627) 27.72%,
    rgba(34, 34, 34, 0.561) 29.81%,
    rgba(34, 34, 34, 0.494) 32.33%,
    rgba(34, 34, 34, 0.429) 35.44%,
    rgba(34, 34, 34, 0.365) 39.31%,
    rgba(34, 34, 34, 0.305) 44.11%,
    rgba(34, 34, 34, 0.25) 50%,
    rgba(34, 34, 34, 0.305) 55.89%,
    rgba(34, 34, 34, 0.365) 60.69%,
    rgba(34, 34, 34, 0.429) 64.56%,
    rgba(34, 34, 34, 0.494) 67.67%,
    rgba(34, 34, 34, 0.561) 70.19%,
    rgba(34, 34, 34, 0.627) 72.28%,
    rgba(34, 34, 34, 0.692) 74.12%,
    rgba(34, 34, 34, 0.754) 75.88%,
    rgba(34, 34, 34, 0.812) 77.72%,
    rgba(34, 34, 34, 0.864) 79.81%,
    rgba(34, 34, 34, 0.91) 82.33%,
    rgba(34, 34, 34, 0.947) 85.44%,
    rgba(34, 34, 34, 0.976) 89.31%,
    rgba(34, 34, 34, 0.994) 94.11%,
    $base 100%
);

// Light mode gradients
$light-aurora-horizontal: linear-gradient(
    90deg,
    #6ce54b 10.61%,
    #6be795 30.26%,
    #367ccf 50.61%,
    #a746f6 69.74%,
    #8117bd 90.78%
);
$light-aurora-horizontal-fade: linear-gradient(
    90deg,
    rgba(108, 229, 75, 0) 10.61%,
    #6be795 30.26%,
    #367ccf 50.61%,
    #a746f6 69.74%,
    rgba(129, 23, 189, 0) 90.78%
);
$light-aurora-vertical: linear-gradient(
    180deg,
    #6ce54b 10.61%,
    #6be795 30.26%,
    #367ccf 50.61%,
    #a746f6 69.74%,
    #8117bd 90.78%
);
$light-aurora-vertical-fade: linear-gradient(
    180deg,
    rgba(108, 229, 75, 0) 10.61%,
    #6be795 30.26%,
    #367ccf 50.61%,
    #a746f6 69.74%,
    rgba(129, 23, 189, 0) 90.78%
);
$light-aurora-down-right: linear-gradient(
    135deg,
    #6ce54b 10.61%,
    #6be795 30.26%,
    #367ccf 50.61%,
    #a746f6 69.74%,
    #8117bd 90.78%
);
$light-base-alt-fade-mid-down-right: linear-gradient(
    135deg,
    $light-base 0%,
    rgba(241, 241, 241, 0.994) 5.89%,
    rgba(241, 241, 241, 0.976) 10.69%,
    rgba(241, 241, 241, 0.947) 14.56%,
    rgba(241, 241, 241, 0.91) 17.67%,
    rgba(241, 241, 241, 0.864) 20.19%,
    rgba(241, 241, 241, 0.812) 22.28%,
    rgba(241, 241, 241, 0.754) 24.12%,
    rgba(241, 241, 241, 0.692) 25.88%,
    rgba(241, 241, 241, 0.627) 27.72%,
    rgba(241, 241, 241, 0.561) 29.81%,
    rgba(241, 241, 241, 0.494) 32.33%,
    rgba(241, 241, 241, 0.429) 35.44%,
    rgba(241, 241, 241, 0.365) 39.31%,
    rgba(241, 241, 241, 0.305) 44.11%,
    rgba(241, 241, 241, 0.25) 50%,
    rgba(241, 241, 241, 0.305) 55.89%,
    rgba(241, 241, 241, 0.365) 60.69%,
    rgba(241, 241, 241, 0.429) 64.56%,
    rgba(241, 241, 241, 0.494) 67.67%,
    rgba(241, 241, 241, 0.561) 70.19%,
    rgba(241, 241, 241, 0.627) 72.28%,
    rgba(241, 241, 241, 0.692) 74.12%,
    rgba(241, 241, 241, 0.754) 75.88%,
    rgba(241, 241, 241, 0.812) 77.72%,
    rgba(241, 241, 241, 0.864) 79.81%,
    rgba(241, 241, 241, 0.91) 82.33%,
    rgba(241, 241, 241, 0.947) 85.44%,
    rgba(241, 241, 241, 0.976) 89.31%,
    rgba(241, 241, 241, 0.994) 94.11%,
    $light-base 100%
);

// Light mode
// $primary: hsl(234, 100%, 60%);
$primary: $light-contrast;
$secondary: $light-contrast-2;
$light: $light-base-2;
$dark: $base-2;

// Quickly modify global styling by enabling or disabling optional features.

$enable-responsive-font-sizes: true;

// Prefix for :root CSS variables
$variable-prefix: bs-;

// scss-docs-start font-variables
// stylelint-disable
$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       "Geist Mono Variable", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// stylelint-enable
$font-family-base: var(--#{$variable-prefix}font-monospace);
$font-family-code: var(--#{$variable-prefix}font-monospace);
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-xl: $font-size-base * 1.375;
$font-size-lg: $font-size-base * 1.25;
$font-size-md: $font-size-base * 1.125;
$font-size-sm: $font-size-base * 0.875;
$font-weight-light: 300;
$font-weight-base: $font-weight-light;
$line-height-base: 1.6;
$headings-font-family: $font-family-monospace;
$headings-font-weight: 300;
$headings-line-height: 1.25;

// Body
//
// Settings for the `<body>` element.

$body-text-align: null;
$body-color: $light-contrast;
$body-bg: $light-base;

$body-secondary-color: lighten($light-contrast-2, 10%);
$body-secondary-bg: $light-base-2;

$body-tertiary-color: $light-contrast-3;
$body-tertiary-bg: $light-base-2;

$body-emphasis-color: $light-contrast;

//

$body-color-dark:                   $contrast;
$body-bg-dark:                      $base;
$body-secondary-color-dark:         rgba($body-color-dark, .75);
// $body-secondary-bg-dark:            $gray-800;
// $body-tertiary-color-dark:          rgba($body-color-dark, .5);
// $body-tertiary-bg-dark:             mix($gray-800, $base, 50%);
// $body-emphasis-color-dark:          $contrast;
// $border-color-dark:                 $contrast;
// $border-color-translucent-dark:     rgba($white, .15);
// $headings-color-dark:               inherit;
// $link-color-dark:                   tint-color($primary, 40%);
// $link-hover-color-dark:             shift-color($link-color-dark, -$link-shade-percentage);
// $code-color-dark:                   tint-color($code-color, 40%);
// $mark-color-dark:                   $body-color-dark;
// $mark-bg-dark:                      $yellow-800;

// Dark mode
$link-color-dark: $contrast;
$button-color-dark: $contrast;

:root,
::backdrop {
  --sl-color-accent-high: $contrast;
}
